/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #000;
    color: #eee;
    min-height: 100vh;
}
/* HEADER */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.95);
    padding: 15px 0;
    z-index: 999;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}

.logo img {
    height: 55px;
    position: absolute;
    left: 30px;
}

.navbar {
    display: flex;
    gap: 25px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .2s;
}

.navbar a:hover,
.navbar a.active { color: #6cbbe9; }

/* HOME */
.home {
    height: 100vh;
    background: url("./imagens/Home.png.png") no-repeat center/cover;
    display: flex;
    align-items: center;
    padding-left: 10%;
    position: relative;
}

.home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.6);
}

.home .content {
    position: relative;
    z-index: 2;
    max-width: 450px;
}

.home h3 {
    color: #319c97;
    font-size: 2.8rem;
    margin-bottom: 15px;
    line-height: 3rem;
}

.home span { color: #85d8d0; font-weight: bold; }

.home p { margin-bottom: 25px; font-size: 1.1rem; }
